button{

cursor:pointer;
border:none;

}

.btn-primary{

background:var(--color-primary);
color:white;

padding:10px 18px;
border-radius:6px;

font-weight:500;

}

.btn-primary:hover{

opacity:0.9;

}

.btn-outline{

background:white;
border:1px solid var(--color-border);

padding:8px 14px;
border-radius:6px;

}

.btn-icon{

background:#F3F4F6;

padding:6px 8px;

border-radius:6px;

}

.btn-danger{

background:#E63946;
color:white;

}

.btn-page{

background:white;
border:1px solid var(--color-border);

padding:6px 10px;

border-radius:6px;

}

.btn-page.active{

background:var(--color-primary);
color:white;

}
