input, select{

padding:10px 12px;

border:1px solid var(--color-border);
border-radius:6px;

font-size:14px;

}

input:focus,
select:focus{

outline:none;
border-color:var(--color-primary);

}

.input-search{

width:380px;

}
