<div class="sidebar">

    <!-- LOGO -->
    <div class="sidebar-logo">

        <div class="logo-icon">🐾</div>

        <div class="logo-text">
            <strong>APPVET</strong>
            <span>Gestão Veterinária</span>
        </div>

    </div>



    <!-- MENU -->
    <nav class="sidebar-menu">

        <a href="../pages/dashboard.html" class="menu-item">

            <span class="menu-icon">📊</span>
            <span class="menu-text">Dashboard</span>

        </a>


        <a href="../pages/clientes.html" class="menu-item active">

            <span class="menu-icon">👤</span>
            <span class="menu-text">Clientes</span>

        </a>


        <a href="../pages/animais.html" class="menu-item">

            <span class="menu-icon">🐶</span>
            <span class="menu-text">Animais</span>

        </a>


        <a href="../pages/agenda.html" class="menu-item">

            <span class="menu-icon">📅</span>
            <span class="menu-text">Agenda</span>

        </a>


        <a href="../pages/atendimentos.html" class="menu-item">

            <span class="menu-icon">🩺</span>
            <span class="menu-text">Atendimentos</span>

        </a>


        <a href="../pages/vacinas.html" class="menu-item">

            <span class="menu-icon">💉</span>
            <span class="menu-text">Vacinas</span>

        </a>


        <a href="../pages/internacao.html" class="menu-item">

            <span class="menu-icon">🏥</span>
            <span class="menu-text">Internação</span>

        </a>


        <a href="../pages/estoque.html" class="menu-item">

            <span class="menu-icon">📦</span>
            <span class="menu-text">Estoque</span>

        </a>


        <a href="../pages/financeiro.html" class="menu-item">

            <span class="menu-icon">💰</span>
            <span class="menu-text">Financeiro</span>

        </a>


        <a href="../pages/relatorios.html" class="menu-item">

            <span class="menu-icon">📈</span>
            <span class="menu-text">Relatórios</span>

        </a>


        <a href="../pages/usuarios.html" class="menu-item">

            <span class="menu-icon">👥</span>
            <span class="menu-text">Usuários</span>

        </a>


        <a href="../pages/config.html" class="menu-item">

            <span class="menu-icon">⚙</span>
            <span class="menu-text">Configurações</span>

        </a>

    </nav>



    <!-- FOOTER -->
    <div class="sidebar-footer">

        <div class="user-box">

            <div class="user-avatar">
                V
            </div>

            <div class="user-info">
                <strong>Venício</strong>
                <span>Administrador</span>
            </div>

        </div>

    </div>

</div>